<!DOCTYPE html>
<html>
<head>
</head>
<body>


<div>
	<header>
		<div>
			<h1>  Choose a topic!</h1>
		</div>
	</header>

	
				
					<div>
						<ol>
								<li>
											Beginners Makeup
											<p>
											  
											</p>
											 <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCR-bYeVcSVZh9aPNcy-Toug" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

								</li>
								
								<li>	
								      Advanced makeup 
								      <p>
								        
								      </p>
								     <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSIhXLmUOhu0dHzX9SpFi_c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li >
									  	College application tutorials
									  	<p>
									  	  
									  	</p>
									  	<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCR4EiGUzGiazjwlMubel_a4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

								</li>
								
								<li>
											Using Photoshop
											<p>
											  
											</p>
											<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCQNR1bdjLRM94P8t0uscp_6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
							
								<li >
											How to code for beginners
											<p>
											  
											</p>
											<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCQSX6WBqzRYQ36PyiQCa4ut" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li> 
							      	Learning languages
							      	<p>
							      	  
							      	</p>
							      	<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSIGxTwE0Q5ryMszGw5UZ3x" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li >
									    Art tutorials
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSLbUkyJ754u3CThhT3yXyf" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
									    Sports tutorials
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCQzDGpQ4LGbHguP8HWDb6Kq" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
								      Singing and dancing tutorials
								      <p>
								        
								      </p>
								      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCR41yge9XMw5VQZvXObXCtu" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
								      How to be healthier
								      <p>
								        
								      </p>
								      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCTHUupiwV-PGpm4hp6phG57" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
									    How to be happier
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCTjt8kBDQo1e7QeeTQ7J81z" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
									    Relationships
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCQgNLOcmk8p7G8QSz3ZJuyR" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
								
								<li>
									    Friendship
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCRDTbMz8WNVBKf3tj_jhKLt" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

								</li>
								
								<li>
									    Random DIY
									    <p>
									      
									    </p>
									    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLZvGMo9UEbCSHjakkEWdUXN_KYY94lve3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</li>
			
		</ol>
	
</body>
</html>